.hide {
    display: none;
}

#login-box {
    border: 1px solid black;
    width: min-content;
}

#signup-box{
    border: 1px solid black;
    width: min-content;
}

#signup-box input{
 margin-bottom: 1em;
}

#error {
text-align: center;
    width: fit-content;
    background-color: rgb(255, 0, 0);
}

#error p{
    color: aliceblue;
    font-size: large;
    padding: 1em;
}